.video-app {
  margin: 10px;
}

.video-room .room-control {
  float: left;
  padding: 10px;
}

.my-video {
  float: left;
  width: 300px;
  height: 200px;
  text-align: center;
}

.my-video .controls {
  padding: 5px;
}

.my-video .controls button {
  margin: 5px;
}

.my-video video {
  height: 150px;
}

.video-room .spacer {
  clear: both;
}

.video-grid {
  margin: 10px 0;
}

.peer-video {
  margin: 0 5px;
  display: inline-block;
}

.peer-video .peer-name {
  text-align: center;
}

.peer-video video {
  height: 240px;
}

video {
  aspect-ratio: 16/9;
  object-fit: cover;
}